.todo{
    display: flex;
    padding: 10px 20px;
    background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even){
    background-color: #EEE;
}

.todo .content{
    flex: 1 1 100%;
}

.todo.done .content{
    text-decoration: line-through;
}

.todo .id{
    flex: 1 1 50px;
}

.todo-input{
    width: 100%;
	padding: 10px 15px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    outline: none;
    font-size: 20px;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: hsl(34, 80%, 53%);
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
} 
